<nav class="nav nav-tabs" id="Tab" role="tablist">
    <a class="nav-item nav-link {% if nav_active == 'detail' %}active{% endif %}" href="../detail/">Détail</a>
    <a class="nav-item nav-link {% if nav_active == 'formation' %}active{% endif %}" href="../maquette/">Formation</a>
    <a class="nav-item nav-link {% if nav_active == 'affectation_etudiant' %}active{% endif %}" href="../affectation_etudiant/">Etudiants</a>
    <a class="nav-item nav-link {% if nav_active == 'contrat' %}active{% endif %}" href="../contrat/">Contrats</a>
    <a class="nav-item nav-link {% if nav_active == 'projet_tuteure' %}active{% endif %}" href="../projet_tuteure/">Projets</a>
    <a class="nav-item nav-link {% if nav_active == 'document4groupe' %}active{% endif %}" href="../document4groupe/">Documents</a>
    <a class="nav-item nav-link {% if nav_active == 'emargement' %}active{% endif %}" href="../emargement/">Emargement</a>
    <a class="nav-item nav-link {% if nav_active == 'absence' %}active{% endif %}" href="../absence/">Absence</a>
</nav>


