{% extends "base.html" %}
{% load generic %}

{% block sidebar %}
{% include 'admin_ens/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
{% include 'admin_ens/promotion_breadcrumb.html'%}
{% endblock %}

{% block content %}
{% include 'admin_ens/promotion_nav.html' with nav_active="detail" %}
<div class="tab-content" id="nav-tabContent">
    <div class="card">
        <div class="card-header">Gestion</div>
        <div class="card-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nb Etu</th>
                        <th>Type</th>
                        <th>Nb Heures</th>
                        <th>Moyenne</th>
                    </tr>
                </thead>
                <tbody id="parcours_table">
                    {% for parcours in object.formation.parcours_set.all %}
                    <tr>
                        <td><a class="link_detail" href="/formations/parcours/{{parcours.pk}}/detail/">{{parcours.nom_short}}</td>
                        <td><span class="badge badge-info">{{parcours|find_nb_etu:promotion.pk}}</span></td>
                        <td>{{parcours.nom}}</td>
                        <td>{{parcours.nb_heures}}</td>
                        <td>{{parcours|find_moy:promotion.pk}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            Groupes
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nb Etu</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody >
                    {% for groupe in object.groupe_set.all %}
                    <tr>
                        <td><a href="/promotions/groupe/{{groupe.pk}}/detail/" class="link_detail">{{groupe.nom}}</a></td>
                        <td><span class="badge badge-info">{{groupe.affectations.all|length}}</span></td>
                        <td>{{groupe.get_type_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}
