<nav class="nav nav-tabs" id="Tab" role="tablist">
    <a class="nav-item nav-link {% if nav_active == 'detail' %}active{% endif %}" href="../detail/">Détail</a>
    <a class="nav-item nav-link {% if nav_active == 'affectation_enseignant' %}active{% endif %}" href="../affectation_enseignant/" >Enseignants</a>
    <a class="nav-item nav-link {% if nav_active == 'affectation_etudiant' %}active{% endif %}" href="../affectation_etudiant/">Etudiants</a>
    <a class="nav-item nav-link {% if nav_active == 'calendrier_hebdomadaire' %}active{% endif %}" href="../calendrier_hebdomadaire/">Calendriers</a>
    <a class="nav-item nav-link {% if nav_active == 'contrat' %}active{% endif %}" href="../contrat/">Contrats</a>
    <a class="nav-item nav-link {% if nav_active == 'projet_tuteure' %}active{% endif %}" href="../projet_tuteure/">Projets</a>
    <a class="nav-item nav-link {% if nav_active == 'rapport_tuteur_entreprise' %}active{% endif %}" href="../rapport_tuteur_entreprise/">Evaluations</a>
    <a class="nav-item nav-link {% if nav_active == 'absence' %}active{% endif %}" href="../absence/">Absences</a>
</nav>
