.bg-blue{
    background-color: #2980b9;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav{
    background-color: transparent;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level
{
    background-color: transparent;
}

@media (max-width: 992px) {
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link{
        opacity: 0.6;
        color: white;
    }
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover{
        opacity: 0.8;
        color: white;
    }
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link .active{
        opacity: 0.8;
        color: white;
    }
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
        opacity: 0.9;
        color: white !important;
    }
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{
        opacity: 0.6;
        color: white;
    }
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a .nav-link .selected
    {
        opacity: 0.9;
        color: white;
    }
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a.nav-link.active{
        opacity: 0.9;
    }
    
    
    
    
}

@media (min-width: 992px) {
    
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > a.nav-link.active,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a.nav-link.active{
        color: #212529;
    }
    
}




footer.sticky-footer{
    background-color: transparent;
}


.nav-header{
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 20px;
}


#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after{
    color: rgba(255, 255, 255, .5);
}

h5{
    padding-bottom: 10px;
}

.inactive{
    display: none;
}

.inactive.show{
    display: flex;
}

.navbar-dark .navbar-toggler{
    color: transparent;
    border: none;
}

.help-block{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
}

.img_avatar{
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}



