<div class="row" >
    
    <div class="col-sm-3" style="padding-bottom:20px">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{object.gps_lat}},{{object.gps_long}}&zoom=9&size=300x300&maptype=roadmap&markers=color:red%7Clabel:A%7C{{object.gps_lat}},{{object.gps_long}}&key=AIzaSyDbCJVGgcNvKEhmWIRrPkmJqNRIsk3QbV0" style="width: 100%">
    </div>
    
    <div class="col-sm-9">

        <dl class="row">
            <dt class="col-sm-2">Nom</dt>
            <dd class="col-sm-10">{{object.nom}}</dd>
        </dl>
        
        <dl class="row">
            <dt class="col-sm-2">Naf</dt>
            <dd class="col-sm-10">{{object.naf}}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Adresse</dt>
            <dd class="col-sm-10">{{object.adresse_rue}}, {{object.adresse_zip}} {{object.adresse_ville}}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Map</dt>
            <dd class="col-sm-10"><a href="geo:{{object.gps_lat}},{{object.gps_long}}">Google Map</a>, <a href="http://maps.apple.com/?q={{object.gps_lat}},{{object.gps_long}}">Apple Map</a></dd>
        </dl>
        
        <dl class="row">
            <dt class="col-sm-2">Activite</dt>
            <dd class="col-sm-10">{{activite}}</dd>
        </dl>
        
    </div>

</div>
