
<h5>Contrat {{object.contrat}} (Note: {{object.note}})</h5>
    
    <dl class='row'>
        <dt class='col-sm-3'>Etudiant</dt>
        <dd class='col-sm-9'>{{object.contrat.affectation.etudiant}}</dd>
    </dl>
    
    <h5>Detail Note</h5>
    
    
    <dl class='row'>
        <dt class='col-sm-3'>Apprentissage</dt>
        <dd class='col-sm-9'>{{object.apprentissage}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Ecoute</dt>
        <dd class='col-sm-9'>{{object.ecoute}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Curiosite</dt>
        <dd class='col-sm-9'>{{object.curiosite}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Imagination</dt>
        <dd class='col-sm-9'>{{object.imagination}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Jugement</dt>
        <dd class='col-sm-9'>{{object.jugement}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Motivation</dt>
        <dd class='col-sm-9'>{{object.motivation}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Méthode</dt>
        <dd class='col-sm-9'>{{object.methode}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Autonomie</dt>
        <dd class='col-sm-9'>{{object.autonomie}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Qualité</dt>
        <dd class='col-sm-9'>{{object.qualite}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Dynamisme</dt>
        <dd class='col-sm-9'>{{object.dynamisme}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Expression</dt>
        <dd class='col-sm-9'>{{object.expression}}</dd>
    </dl>
    <dl class='row'>
        <dt class='col-sm-3'>Relation</dt>
        <dd class='col-sm-9'>{{object.relation}}</dd>
    </dl>
    <h5>Commentaire</h5>
    {{object.commentaire}}
    
