<nav class="nav nav-tabs" >
    <a class="nav-item nav-link {% if nav_active == 'detail' %}active{% endif %}" href="../detail/">Détail</a>
    <a class="nav-item nav-link {% if nav_active == 'document4groupe' %}active{% endif %}" href="../document/">Documents</a>
    <a class="nav-item nav-link {% if nav_active == 'affectation_etudiant' %}active{% endif %}" href="../etudiant/">Etudiants</a>
    <a class="nav-item nav-link {% if nav_active == 'affectation_enseignant' %}active{% endif %}" href="../enseignant/">Enseignants</a>
    <a class="nav-item nav-link {% if nav_active == 'projet_tuteure' %}active{% endif %}" href="../projet_tuteure/">Projets Tuteurés</a>
    <a class="nav-item nav-link {% if nav_active == 'calendrier_hebdomadaire' %}active{% endif %}" href="../calendrier/">Calendrier</a>
</nav>
