{% extends "detail.html" %}

{% block detail_content %}
<div class="card">
    <div class="card-header">Contacts</div>
    <div class="card-body"> 
        {% include 'promotions/affectation_etudiant_list.html' with object_list=affectation_etudiant_list %}
    </div>
</div>
<div class="card">
    <div class="card-header">Fiches de Liaison
        <div class="pull-right">
            <a class="link_create_update btn btn-default btn-sm"  href="../suivi_projet/create/" ><i class="fa fa-plus" aria-hidden="true"></i> Document</span></a>
        </div>
    </div>
    <div class="card-body">
        {% include 'projets/suivi_projet_list.html' with object_list=suivi_projet_list %}
    </div>
</div>
{% endblock %}
