<table class="table">
    <thead>
        <tr >
            <th>Intitule</th>
            <th>Enseignant</th>
            <th class="d-none d-md-table-cell">Etudiants</th>
            <th class="d-none d-md-table-cell">Salle</th>
            <th class="d-none d-lg-table-cell">Statut</th>
            {% if is_raf %}
            <th class="d-none d-lg-table-cell">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for projet in object_list %}
        <tr>
            <td><a class="link_detail" href="/projets/projet_tuteure/{{projet.pk}}/detail/">{{projet.intitule}}</td>
            <td>{{projet.enseignant}}</td>
            <td class="d-none d-md-table-cell">
                <ul>
                    {% for affectation in projet.affectation.all%}
                    <li>{{affectation.etudiant}}</li>
                    {% endfor %}
                </ul>
                <td class="d-none d-md-table-cell">{{projet.salle}}</td>
                <td class="d-none d-lg-table-cell">
                    {% if projet.actif %}
                        <span class="badge badge-info">Actif</span>
                    {% else %}
                        <span class="badge badge-info">Proposition</span>
                    {% endif %}
                </td>
                {% if is_raf %}
                <td class="d-none d-lg-table-cell">
                    <a href="/admin_ens/formation/{{formation.pk}}/projet_tuteure/{{projet.pk}}/update/" class="link_create_update btn btn-default btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="/admin_ens/formation/{{formation.pk}}/projet_tuteure/{{projet.pk}}/delete/" class="link_delete btn btn-default btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
