{% extends "base.html" %}

{% block title%}Julina{% endblock %}

{% block menu_home %}active{% endblock %}


{%block content %}

<p>Logiciel de suivi à destination des étudiants, enseignants et responsables de formation</p>

<h2>Fonctionnalités</h2>

Julina gère différents types de profils:
<ul>
    <li>Responsable de formation
        <ul>
            <li>Création de formation</li>
            <li>Création de promotion</li>
            <li>Suivi de stages</li>
            <li>Importation notes (Scodoc)</li>
        </ul>
    
    </li>
    <li>Enseignant</li>
    <li>Etudiant</li>
</ul>

<h2>A Propos de l'outil</h2>

<ul>
    <li>Developpeur: <a href="https://www.linkedin.com/in/vincent-choqueuse-388a5720/">V. choqueuse</a></li>
    <li>Framework: Frontend (Bootstrap, jquery), Backend (Django) </li>
    <li>Code source: <a href="https://github.com/vincentchoqueuse/JULINA">Github</a></li>
    <li>Hebergement: heroku, AWS </li>
</ul>




{%endblock %}




