{% extends 'base_1column.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <div class="card">
            <h4 class="card-header">Logout</h4>
            <div class="card-body">
                <p>
                Vous venez de vous deconnecter
                </p>

                <div>
                    <a href="/" class="button btn btn-secondary" >Page Principale</a>
                    <a href="/login/" class="button btn btn-primary" >Connexion</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
